* {
    font-family:"PT Sans", Arial, Helvetica, sans-serif;
}

button {
    cursor:pointer;
}
/*form_window*/

.field_with_errors .auth_input {
    width:100%;
    border: 1px solid #910a0a;
    background: #e7a0a0;
    display:flex;
    align-items: center;
    justify-content: center;
}

/*footer*/
.fix_footer {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}