* {
    font-family:"PT Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
}

a {
    color: #4e4e4e;
}

h1 {
    font-size:32px;
    color:rgb(51,51,51);
}

/*footer*/
.fix_footer {
    position:absolute;
    bottom:0;
    right:0;
    left:0;
}